.todoform-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Slightly dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensure it overlays above other components */
}

.todoform-modal {
  width: 100%; /* Full width of the app container */
  height: 100%; /* Full height of the app container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Needed for absolute positioning of icons */
}

form {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="text"],
textarea {
  width: 100%;
  height: auto;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background: none; /* Matches the body background */
  color: #fff;
  font-size: 1rem;
  resize: none; /* Disable resizing for the textarea */
  outline: none;
  border-bottom: 2px solid #007bff; /* Subtle underline */
}

input::placeholder,
textarea::placeholder {
  color: #aaa; /* Subtle placeholder text */
}

input:focus,
textarea:focus {
  border-bottom: 2px solid #fff; /* Highlighted on focus */
}

.add-todo {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.add-todo:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  z-index: 11; /* Make sure it is above all other content */
}
